<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>查看员工</title>

<style type="text/css">
.text{
	text-align: right;
}
</style>

</head>
<body>

	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="height:40px;padding-top:30px;padding-bottom:36px;">
				
				<button type="button" class="close" data-dismiss="modal" style="display:inline-block;margin-top:-8px;">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 style="margin-top:-5px;">查看账号信息</h3>

			</div>
			<div class="modal-body">


				<table   style="width:100%;" >
					<tr>
						<td class="text"> 
							<label class="control-label" style="margin-top:10px;margin-right:40px">登录名</label>
						</td>
						<td style="width: 25%" th:text=${user.loginName}>
							<input type="text" class="form-control valid" id="cname" name="empCode" aria-required="true" aria-invalid="false">
						</td>
						<td class="text">
							<label class="control-label" style="margin-top:10px;margin-right:40px">姓名</label>
						</td>
						<td style="width: 25%" th:text=${user.userName}>
						</td>
					</tr>
					<tr>
						<td class="text">
							<label class="control-label" style="margin-top:10px;margin-right:40px">角色</label>
						</td>
						<td style="width: 25%" th:text=${user.roleName}>
						</td>
						<td class="text">
							<label class="control-label" style="margin-top:10px;margin-right:40px"></label>
						</td>
						<td style="width: 25%">
						</td>
					</tr>						
				</table>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>

</body>
</html>